/Verkefni1/__pycache__/*
/Verkefni2/__pycache__/*
/Verkefni3/__pycache__/*
/Verkefni2/ui/__pycache__/*
/Verkefni3/ui/__pycache__/*
/Verkefni2/skyrsla/samantekt2.aux
/Verkefni2/skyrsla/samantekt2.log
/Verkefni2/skyrsla/samantekt2.out
/Verkefni2/skyrsla/samantekt2.pdf
/Verkefni2/skyrsla/samantekt2.synctex.gz
/Verkefni2/.google-cookie
/Verkefni2/data/*	